body {
  background-color: white;
  margin: 0;
}

#michael_adams {
  email: mike@tesserapps.com
  years_programming: 4;
  languages_used: ["Objective-C", "Python", "Ruby", "HTML"];

  education: {
    "B.A.": "Russian Language and Literature",
    "source": "Drew University" }
}

div {
  height: 6rem;
  line-height: 6rem;
  color: #FFF;
  font-family: "Futura", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: rem;
  padding-left: 3rem;
  margin: 0;
}

.contact { background-color: #959595;}

.help, .others { background-color: #C1E8FF;}

.HTML { background-color: #FFB43F;}

.ObjC { background-color: #F88DB0;}

.Python { background-color: #97E486;}

.Ruby { background-color: #EC3955}

div:first-of-type, div:last-of-type {
  color: #000;
  background-color: #FFF;
}

/* TODO: make these longer lines of text scale down at breakpoints
 instead of being smaller all the time */
.help {
  font-size: 2rem;
}

/* color-cycle on the last line */
a {
  color: #FFF;
  text-decoration: none;
}
div:last-of-type, div:last-of-type a {
  color: #000;
  color: #FFB43F;
  animation-name: homeCycle;
  animation-duration:6s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:6s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
}

  @keyframes homeCycle
  {
    0% {color:#000;}
    25% {color:#97E486;}
    50% {color:#C1E8FF;}
    75% {color:#F88DB0;}
  }

  @-webkit-keyframes homeCycle
  {
    0% {color:#000;}
    25% {color:#97E486;}
    50% {color:#C1E8FF;}
    75% {color:#F88DB0;}
  }
